.tsx {
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1;
  color: $black;
  box-sizing: border-box;
  * {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
  }
  input[type="text"], input[type="number"], select {
    background: #fff;
    border: 1px solid $gray;
    outline: 0;
    padding: $padding;
  }
  input[type="checkbox"] {
    margin: .5em;
  }
  button {
    background: $green;
    border: 0;
    padding: $padding * 2;
    cursor: pointer;
    color: #fff;
    text-align: center;
    transition: background .3s;
    &:hover {
      background: darken($green, 10%);
    }
  }
  table {
    border-collapse: collapse;
    font-size: .875em;
    width: calc(100% + 2px);
    margin: -1px;
  }
  thead th {
    background: $gray;
  }
  th {
    font-weight: bold;
  }
  th, td {
    padding: .5em;
    vertical-align: top;
    text-align: center;
    border: 1px solid $gray;
  }
  code {
    .tsx-comment {
      color: gray;
    }
    .tsx-string {
      color: seagreen;
    }
    .tsx-operator {
      color: steelblue;
    }
    .tsx-punctuation {}
    .tsx-binary,
    .tsx-octal,
    .tsx-decimal,
    .tsx-hexadecimal {
      color: peru;
    }
    .tsx-type {
      color: firebrick;
    }
    .tsx-keyword {
      color: firebrick;
      font-weight: bold;
    }
    .tsx-command,
    .tsx-custom {
      color: purple;
    }
    .tsx-turtle,
    .tsx-variable {
      font-weight: bold;
    }
    .tsx-constant {
      color: steelblue;
    }
    .tsx-keycode {
      color: steelblue;
    }
    .tsx-query {
      font-weight: bold;
    }
    .tsx-identifier {}
    .tsx-unterminated-comment,
    .tsx-unterminated-string,
    .tsx-bad-binary,
    .tsx-bad-octal,
    .tsx-bad-hexadecimal,
    .tsx-bad-decimal,
    .tsx-illegal {
      background: rgba(200, 0, 0, .2);
    }
  }
}
