.tse-controls {
  display: flex;
  margin-bottom: $padding;
  .tse-program-controls, .tse-machine-controls {
    display: flex;
    background: #fff;
    color: $black;
    padding: $padding;
  }
  .tse-program-controls {
    flex: 1;
    margin-right: $padding;
    .tse-language-select {
      margin-right: $padding;
    }
    .tse-filename-input {
      flex: 1;
      text-align: center;
    }
  }
  .tse-machine-controls {
    width: $padding + $canvas-coords-width + $canvas-width + $padding;
    display: flex;
    justify-content: space-between;
    .tse-machine-buttons  {
      .tse-run-halt-button {
        width: 4em;
        font-weight: bold;
      }
      .tse-play-pause-button {
        width: 2.5em;
      }
    }
    .tse-turtle-properties {
      display: flex;
      font-size: .8em;
      dd, dt {
        padding: 10px 6px;
        text-align: center;
      }
      dd {
        background: $lightgray;
        &.tse-turtxy {
          width: 3.2em;
        }
        &.tse-turtd {
          width: 2.25em;
        }
        &.tse-turttc {
          width: 2.5em;
        }
      }
    }
  }
}
