$padding: 4px;
$canvas-width: 502px;
$canvas-coords-width: 30px;
$system-width: 1024px;
$system-height: 700px;
$black: #282828;
$darkgray: lighten($black, 10%);
$gray: darken(#ebebeb, 25%);
$lightgray: lighten(#ebebeb, 3%);
$green: #159d6b;
$font-family: arial;
$monospace: consolas, monospace;
$font-size: 16px;
