.tsx-help {
  background: $darkgray;
  color: #fff;
  padding: $padding;
  height: 100%;
  line-height: 1.3;
  .tsx-tabs {
    flex-direction: row-reverse;
    height: 100%;
    .tsx-tab-list {
      flex-direction: column;
    }
    .tsx-tab-pane {
      overflow: auto;
      padding: ($padding * 2) ($padding * 4);
      h3, h4 {
        font-weight: bold;
        border-bottom: 2px solid $black;
      }
      h3 {
        margin: 0 0 .75em;
        font-size: 1em;
      }
      h4 {
        font-size: 1em;
        margin-bottom: .75em;
      }
      p {
        margin: 0 0 1em;
        &:last-child {
          margin-bottom: 0;
        }
      }
      ul {
        margin-left: 2.5em;
        li {
          margin-bottom: .5em;
        }
      }
      i, em {
        font-style: italic;
      }
      a {
        color: $green;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      pre {
        font-family: $monospace;
        background: $lightgray;
        border: 1px solid $gray;
        padding: $padding ($padding * 2);
        margin: 0 0 .75em;
      }
      code {
        font-family: $monospace;
      }
      table {
        margin: 0;
        margin-bottom: 1.25em;
      }
    }
  }
  .tsx-commands-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    label {
      font-weight: bold;
    }
    select, div {
      margin-bottom: 1em;
    }
    select {
      font-weight: normal;
    }
  }
  .tsx-commands-table {
    font-size: 1em;
    th {
      font-size: .9em;
    }
    td, th {
      text-align: left;
    }
  }
}
