.tse-body {
  display: flex;
  flex: 1;
  .tse-tabs:first-child {
    flex: 1;
    border-right: $padding solid $darkgray;
  }
  .tse-tabs:last-child {
    width: $padding + $canvas-coords-width + $canvas-width + $padding;
  }
}

.tse-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
  .tse-tab-pane {
    display: none;
    &.active {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: auto;
      padding: $padding;
      background: #fff;
      color: $black;
    }
  }
  .tse-tab-list {
    display: flex;
    .tse-tab {
      display: block;
      cursor: pointer;
      padding: .625em .75em;
      &:hover {
        background: $gray;
      }
      &.active {
        background: #fff;
        color: $black;
      }
    }
  }
}
