.tse-system {
  display: grid;
  grid-template-columns: 1fr ($padding + $canvas-coords-width + $canvas-width + $padding);
  grid-template-rows: auto 1fr;
  grid-gap: $padding;
  background: $darkgray;
  border: $padding solid $darkgray;
}
