.tse {
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1;
  color: $black;
  box-sizing: border-box;
  * {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
    min-height: 0;
    min-width: 0;
  }
  a, a:hover {
    text-decoration: none;
  }
  a, button, input[type="text"], input[type="number"], th, td {
    height: 2em;
    padding: .5em;
  }
  select {
    height: 2em;
    padding: .25em .5em;
    &[multiple] {
      overflow: auto;
      padding: 0;
      option {
        cursor: pointer;
        padding: .25em .5em;
      }
    }
  }
  option {
    padding: .25em .5em;
  }
  input[type="text"], input[type="number"], select {
    background: #fff;
    border: 1px solid $gray;
    outline: 0;
  }
  button {
    background: $green;
    border: 0;
    cursor: pointer;
    color: #fff;
    text-align: center;
    transition: background .3s;
    &:hover {
      background: darken($green, 10%);
    }
  }
  table {
    border-collapse: collapse;
    font-size: .875em;
    width: calc(100% + 2px);
    margin: -1px;
  }
  thead th {
    background: $lightgray;
  }
  th {
    font-weight: bold;
  }
  th, td {
    vertical-align: top;
    text-align: center;
    border: 1px solid $gray;
    &.tse-wide {
      width: 50%;
    }
  }
  code {
    .tse-comment {
      color: gray;
    }
    .tse-string {
      color: seagreen;
    }
    .tse-operator {
      color: steelblue;
    }
    .tse-punctuation {}
    .tse-binary,
    .tse-octal,
    .tse-decimal,
    .tse-hexadecimal {
      color: peru;
    }
    .tse-type {
      color: firebrick;
    }
    .tse-keyword {
      color: firebrick;
      font-weight: bold;
    }
    .tse-command,
    .tse-custom {
      color: purple;
    }
    .tse-turtle,
    .tse-variable {
      font-weight: bold;
    }
    .tse-constant {
      color: steelblue;
    }
    .tse-keycode {
      color: steelblue;
    }
    .tse-query {
      font-weight: bold;
    }
    .tse-identifier {}
    .tse-unterminated-comment,
    .tse-unterminated-string,
    .tse-bad-binary,
    .tse-bad-octal,
    .tse-bad-hexadecimal,
    .tse-bad-decimal,
    .tse-illegal {
      background: rgba(200, 0, 0, .2);
    }
  }
}
