.tse-canvas {
  display: flex;
  .tse-canvas-coords {
    flex: 1;
    display: flex;
    justify-content: space-between;
    span {
      display: block;
      font-size: 10px;
      padding: $padding;
      width: $canvas-coords-width;
      color: $green;
      text-align: right;
    }
  }
  .tse-canvas-left {
    display: flex;
    flex-direction: column;
    .tse-canvas-coords {
      flex-direction: column;
      text-align: right;
      margin-top: $padding + 10px + $padding;
    }
  }
  .tse-canvas-right {
    flex: 1;
    .tse-canvas-coords {
      span:nth-child(1), span:nth-child(2) {
        text-align: left;
      }
      span:nth-child(3) {
        text-align: center;
      }
    }
    .tse-canvas-wrapper {
      margin-bottom: $padding;
      canvas {
        display: block;
        width: 100%;
        border: 1px solid $gray;
        image-rendering: pixelated;
      }
    }
  }
}
