.tse-all {
  width: 1024px;
  margin: 0 auto;
  background: $darkgray;
  &>.tse-tabs {
    grid-template-rows: auto 1fr;
    &>.tse-tab-list {
      border: $padding solid $darkgray;
      border-bottom: 0;
      img {
        height: 2em;
      }
      &>.tse-tab {
        flex: 1;
        text-align: center;
        margin-left: $padding;
        background: $green;
        transition: background .3s;
        &:hover, &.tse-active {
          background: darken($green, 10%);
          color: #fff;
        }
      }
    }
    &>.tse-tab-panes {
      &>.tse-tab-pane {
        padding: 0;
      }
    }
  }
  .tse-help {
    grid-template-rows: none;
  }
}
