.tse-system {
  display: grid;
  grid-template-columns: 1fr $machine-component-width;
  grid-template-rows: auto 1fr;
  grid-gap: $padding;
  background: $darkgray;
  border: $padding solid $darkgray;
}
