.tse-pcode {
  flex: 1;
  overflow: auto;
  border: 1px solid $gray;
  font-size: .875em;
  line-height: 1.3;
  font-family: $monospace;
  margin: 0;
  list-style-type: none;
  counter-reset: pcode-table;
  li {
    display: flex;
    flex-wrap: wrap;
    background: $lightgray;
    counter-increment: pcode-table;
    padding-left: 3.5em;
    border-bottom: 1px solid $gray;
    &::before {
      content: counter(pcode-table);
    }
    &::before {
      font-weight: bold;
      margin-left: -3.5em;
      width: 2.5em;
      padding: .25em .5em;
      text-align: right;
    }
    &:last-child {
      margin-bottom: -1px;
    }
    div {
      flex: 0 0 12.5%;
      padding: .25em;
      overflow: hidden;
      background: #fff;
      border-left: 1px solid $gray;;
      text-align: center;
    }
  }
}
