@import '_constants';
@import '_tse';
@import '_tse-system';
@import '_tse-help';
@import '_tse-overlay';
@import '_tse-controls';
@import '_tse-tabs';
@import '_tse-file';
@import '_tse-buttons';
@import '_tse-code';
@import '_tse-usage';
@import '_tse-lexemes';
@import '_tse-checkboxes';
@import '_tse-pcode';
@import '_tse-settings';
@import '_tse-canvas';
@import '_tse-console';
@import '_tse-output';
@import '_tse-memory';

.tse-system, .tse-help {
  width: $system-width;
  height: $system-height;
  margin: 0 auto;
}
