@import '_constants';
@import '_base';
@import '_overlay';
@import '_system';
@import '_controls';
@import '_tabs';
@import '_file';
@import '_code';
@import '_usage';
@import '_checkboxes';
@import '_pcode';
@import '_canvas';
@import '_console';
@import '_output';
@import '_buttons';
@import '_memory';
@import '_settings';
@import '_help';

.tse-system, .tse-help {
  width: $system-width;
  height: $system-height;
  margin: 0 auto;
}

.tse-system {
  .tse-tabs {
    height: 648px;
  }
}

.tse-help {
  display: flex;
  flex-direction: column;
  .tse-controls {
    .tse-program-controls {
      justify-content: flex-end;
      margin-right: 0;
      .tse-language-select {
        margin-right: 0;
      }
      .tse-filename-input {
        display: none;
      }
    }
    .tse-machine-controls {
      display: none;
    }
  }
  .tse-tabs {
    flex: 1;
    .tse-tab-pane {
      height: 100%;
    }
  }
}
