html {
  height: 100vh;
  body {
    margin: 0;
    height: 100%;
  }
}

@import '_constants';
@import '_base';
@import '_system';
@import '_controls';
@import '_tabs';
@import '_code';
@import '_usage';
@import '_checkboxes';
@import '_pcode';
@import '_canvas';
@import '_console';
@import '_output';
@import '_buttons';
@import '_memory';
@import '_settings';
@import '_help';

.tse-settings {
  padding: $padding;
  border: $padding solid $darkgray;
}
