.tsx-settings {
  padding: $padding;
  margin: $padding;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.tsx-canvas {
  border: $border;
  display: block;
  width: $canvas-width;
  height: $canvas-width;
  image-rendering: pixelated;
}

.tsx-console {
  border: $border;
  margin: $padding 0 0;
  padding: $padding;
  font-family: $monospace;
  flex: 1;
  overflow: auto;
  @include scroll;
}

.tsx-output {
  border: $border;
  margin: 0;
  padding: .25em;
  flex: 1;
}
