.tsx {
  table {
    border-collapse: collapse;
    font-size: .875em;
    line-height: 1.5;
    width: 100%;
  }
  thead th {
    background: $gray;
  }
  th {
    font-weight: bold;
  }
  th, td {
    border: $border;
    padding: .25em .5em;
    vertical-align: top;
    text-align: center;
  }
}

.tsx-usage-table {
  border: $border;
  td, th {
    &:first-child, &:last-child {
      text-align: left;
    }
  }
  .tsx-category-heading th {
    background: $green;
    color: white;
    font-style: italic;
    font-weight: bold;
    text-align: right;
  }
}

.tsx-pcode-table {
  border: $border;
  overflow: auto;
  @include scroll;
  font-size: .875em;
  font-family: $monospace;
  background: $gray;
  margin: 0;
  padding-left: 2.5em;
  list-style-type: none;
  counter-reset: pcode-table;
  li {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    counter-increment: pcode-table;
    &::before {
      content: counter(pcode-table);
    }
    &:not(:last-child) {
      border-bottom: $border;
    }
    &::before {
      font-weight: bold;
      margin-left: -2.5em;
      width: 2.5em;
      padding: .25em .5em;
      text-align: right;
    }
    div {
      flex: 0 0 12.5%;
      padding: .25em;
      overflow: hidden;
      border-left: $border;
      text-align: center;
    }
  }
}

.tsx-memory-container {
  flex: 1;
  border: $border;
  overflow-y: auto;
  overflow-x: hidden;
  @include scroll;
  &:not(:last-child) {
    margin-bottom: $padding;
  }
  table {
    margin: -1px 0;
  }
  th:first-child, td:first-child {
    border-left: 0;
  }
  th:nth-child(9), td:nth-child(9) {
    border-right: 0;
  }
}
