$padding: 4px;
$canvas-width: 502px;
$system-width: 1024px;
$system-height: 700px;
$black: #282828;
$gray: #ebebeb;
$green: #159d6b;
$font-family: helvetica, arial, sans-serif;
$monospace: consolas, monospace;
$font-size: 16px;
$border: 1px solid silver;
$play-icon: "\f04b";
$pause-icon: "\f04c";
$direction-icon: "\f021";
$thickness-icon: "\f040";
$colour-icon: "\f1fb";
