.tsx-controls {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  background: #fff;
  padding: $padding;
  margin-bottom: $padding;
  input {
    flex: 1;
    text-align: center;
  }
  input, select, button {
    &:not(:last-child) {
      margin-right: $padding;
    }
  }
  .tsx-run-halt-button {
    flex-basis: 4em;
  }
  .tsx-play-pause-button {
    flex-basis: 2em;
  }
  dl {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    dd, dt {
      margin: 0;
      padding: .5em;
      text-align: center;
    }
    dt {
      font-weight: bold;
    }
    dd {
      background: $gray;
      &.tsx-turtxy {
        width: 4em;
      }
      &.tsx-turtd {
        width: 2.5em;
      }
      &.tsx-turttc {
        width: 2em;
      }
    }
  }
}
