.tsx-file-box {
  background: $gray;
  border: $border;
  padding: .5em;
  margin-bottom: .25em;
  h2 {
    font-size: 1em;
    margin: .25em 0 .5em;
  }
  input, select {
    background: #fff;
    width: 100%;
  }
}
