// base settings
.tsx-help {
  flex-direction: column;
  padding: $padding;
  h3, h4 {
    border-bottom: 2px solid $black;
  }
  h3 {
    margin: 0 0 .75em;
    font-size: 1em;
  }
  h4 {
    font-size: 1em;
    margin-bottom: .75em;
  }
  p {
    margin: 0 0 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  pre {
    background: lighten($gray, 5%);
    border: $border;
    padding: $padding ($padding * 2);
    margin: 0 0 .75em;
  }
  table {
    font-size: 1em;
    &:not(:last-child) {
      margin-bottom: .75em;
    }
  }
  th {
    background: $gray;
  }
  .tsx-controls input {
    display: none; // hide the file name on the help page
  }
  .tsx-tab-panes {
    background: #fff;
    padding: ($padding * 2) ($padding * 4);
    .tsx-tab-pane {
      line-height: 1.5;
    }
  }
}

// commands table options
.tsx-commands-options {
  border: $border;
  border-bottom: 0;
  background: $gray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  label {
    padding: .25em .5em;
  }
  select {
    margin-left: $padding;
    font-weight: normal;
  }
  & + table {
    th, td {
      text-align: left;
    }
  }
}

// modifications for the browser
.tsx-browser .tsx-help {
  height: auto;
  max-width: 800px;
}
