code {
  .tsx-comment {
    color: gray;
  }
  .tsx-string {
    color: seagreen;
  }
  .tsx-operator {
    color: steelblue;
  }
  .tsx-punctuation {}
  .tsx-binary,
  .tsx-octal,
  .tsx-decimal,
  .tsx-hexadecimal {
    color: peru;
  }
  .tsx-keyword {
    color: firebrick;
    font-weight: bold;
  }
  .tsx-command,
  .tsx-custom {
    color: purple;
  }
  .tsx-turtle,
  .tsx-variable {
    font-weight: bold;
  }
  .tsx-constant {
    color: steelblue;
  }
  .tsx-keycode {
    color: steelblue;
  }
  .tsx-query {
    font-weight: bold;
  }
  .tsx-identifier {}
  .tsx-unterminated-comment,
  .tsx-unterminated-string,
  .tsx-bad-binary,
  .tsx-bad-octal,
  .tsx-bad-hexadecimal,
  .tsx-bad-decimal,
  .tsx-illegal {
    background: rgba(200, 0, 0, .2);
  }
}
