.tsx-pcode-options {
  border: $border;
  background: $gray;
  padding: $padding;
  margin-bottom: $padding;
  display: flex;
  flex-shrink: 0;
  div {
    flex: 1;
    label {
      display: block;
      cursor: pointer;
    }
  }
}

.tsx-pcode-table {
  border: $border;
  overflow: auto;
  font-size: .875em;
  font-family: $monospace;
  background: $gray;
  margin: 0;
  padding-left: 2.5em;
  flex: 1;
  list-style-type: none;
  counter-reset: pcode-table;
  li {
    counter-increment: pcode-table;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    &:not(:last-child) {
      border-bottom: $border;
    }
    &::before {
      content: counter(pcode-table);
      font-weight: bold;
      margin-left: -2.5em;
      width: 2.5em;
      padding: .25em .5em;
      text-align: right;
    }
    div {
      flex: 0 0 12.5%;
      padding: .25em;
      overflow: hidden;
      border-left: $border;
      text-align: center;
      &.tsx-pcode-assembled {
        font-weight: bold;
      }
    }
  }
}
