.tsx-modal-overlay {
  display: none;
  position: fixed;
  z-index: 10;
  background: rgba(0, 0, 0, .3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5em;
  .tsx-modal {
    margin: 0 auto;
    margin-top: -10em;
    max-width: 30em;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }
  .tsx-modal-head {
    background: $green;
    color: #fff;
    h2 {
      font-size: 1em;
      margin: 0;
      padding: .5em;
    }
  }
  .tsx-modal-body {
    background: #fff;
    padding: 1em;
    p {
      margin: 0 0 1em;
    }
  }
  .tsx-buttons {
    text-align: right;
  }
  &.tsx-open {
    display: block;
    .tsx-modal {
      margin-top: 8em;
    }
  }
}
