.tsx-code {
  background: #fff;
  border: $border;
  position: relative;
  overflow: auto;
  //@include scroll;
  height: 100%;
  font-family: $monospace;
  line-height: 1.5;
  z-index: 4;
  textarea, ol, pre {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    margin: 0;
    font: inherit;
  }
  textarea, pre {
    padding: 0 .5em 0 3.25em;
    min-width: 100%;
  }
  textarea {
    background: transparent;
    border: 0;
    outline: 0;
    resize: none;
    overflow: hidden;
    opacity: .4;
    z-index: 1;
  }
  ol, pre {
    pointer-events: none;
    //padding-bottom: 1em; // prevents scroll overflow from textarea
  }
  ol {
    list-style: none;
    background: #f9f9f9;
    padding: 0 .5em;
    width: 3em;
    li {
      color: gray;
      text-align: right;
    }
  }
  pre {
    z-index: 2;
  }
  code {
    font: inherit;
  }
}
